/*BACKGROUND AND LOGO*/
body {
  background-image: url('/images/left_logo.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100%;
}

p, a {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  text-decoration: none;
}

/*IMAGES DISPLAYED*/
.images {
  display: block;
  width: 928px;
  height: 928px;
  margin: 0px auto;
}

.images div {
  margin: 0px auto;
  width: 90%;
}

.images img {
  width: 200px;
  margin: 0;
}

.images p {
  display: inline;
  margin: 0;
}

/*#keyword {
  position: relative;
  z-index: 2;
}
*/
/*INSTRUCTIONS*/
.choose p {
  position: absolute;
  right: 0px;
  width:300px;
  margin-right: 25px;
}


/*MOOD OPTION BUTTONS*/
.choices {
  display: block;
  float: right;
  margin-right: 10px;
  width: 100%;
  margin-bottom: 60px;


.choices button {
  border-radius: 2px;
  background-color: #97DE91;
  border: none;
  font-family: 'Economica', sans-serif;
  font-size: 24px;
  margin: 30px;
  margin-top: 75px;
  float:right;
}


/*COLLAGE TITLE*/
p {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}