<div class="choose">
<!--   <img src='/images/choose_button.png' alt="choose your mood">
 -->
 <p>Choose your mood:</p>
</div>

<section class="choices">
  <% @choices.each do |choice, tag| %>
  <button id="<%=choice%>"><%=tag%></button>
  <% end %>
</section>

<div class="images">

</div>
