<section class="navbar">
  <h1>Welcome to Moodstagram!</h1>
</section>

<section class="choices">
  <p>Choose your mood:</p>
  <button id="happy">Happy</button>
  <button id="friendly">Friendly</button>
  <button id="peaceful">Peaceful</button>
  <button id="grateful">Grateful</button>
  <button id="selfie">Self centered</button>
  <button id="love">Lovey</button>
</section>

<section class="images">

</section>
