<div class="choose">
<!--   <img src='/images/choose_button.png' alt="choose your mood">
 -->
 <p>I'm feeling...</p>
</div>

<div class="button_nav">
  <section class="choices">
    <% @choices.each do |choice, tag| %>
    <button id="<%=choice%>"><%=tag%></button>
    <% end %>
  </section>
</div>

<a href="/oauth/connect">Connect with Instagram</a>


<div class="images">

</div>
