<div class="choose">

 <p>I'm feeling...</p>
</div>

<div class="button_nav">
  <section class="choices">
    <% @choices.each do |choice, tag| %>
    <button id="<%=choice%>"><%=tag%></button>
    <% end %>
  </section>
</div>

<div class="images">
</div>
