<div class="choose">
<!--   <img src='/images/choose_button.png' alt="choose your mood">
 -->
 <p>Choose your mood:</p>
</div>

<section class="choices">
  <button id="happy">HAPPY</button>
  <button id="friendly">FRIENDLY</button>
  <button id="peaceful">PEACEFUL</button>
  <button id="grateful">GRATEFUL</button>
  <button id="selfie">SELF CENTERED</button>
  <button id="love">LOVEY</button>
</section>

<div class="images">

</div>
